<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/equipment"></ion-back-button>
    </ion-buttons>
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-tabs>
    
    <ion-tab-bar slot="bottom">  
      <ion-tab-button tab="general">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Información</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="spareparts">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>Piezas y materiales</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="indicators">
        <ion-icon name="speedometer-outline"></ion-icon>
        <ion-label>Mediciones</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>

</ion-content>
